@import (less) "seed";

// A home for CSS that we think should be on all projects that is not covered by the base sfchronicle.less
#topper {
  line-height: 0;
}

#title {
  h1 {
    text-transform: uppercase;
    font-family: @title;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;

    @media @tablet {
      font-size: 30px;
      line-height: 40px;
    }

    @media @mobile {
      font-size: 24px;
      line-height: 30px;
    }
  }

  p {
    padding: 0;
    font-style: normal;
    margin-bottom: 5px;

    &.byline {
      font-size: 14px;
    }
  }

  time.dateline {
    font-size: 14px;
  }
}

header {
  height: 37px;
}

.navigation {
  .link.social {
    margin-top: 4px;

    svg {
      width: 20px;
    }
  }
  .specialhead-top {
    color: #333;
  }
}

#title, #article, #credits {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
}

#article {
  margin-top: 30px;

  p {
    padding: 0;
  }
}

#credits {
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  font-family: @med-graphics;

  p {
    margin-bottom: 0;
  }

  .credit-header {
    margin-top: 15px;
  }
}