/*
Shims for Flexbox - should work on Safari and IE10+
*/
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@font-face {
  font-family: "Pierpont-bold";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/pierpont/pierpont-bold-webfont.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/pierpont/pierpont-bold-webfont.eot?") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/pierpont/pierpont-bold-webfont.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/pierpont/pierpont-bold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Hackman-bold";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-bold-webfont.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-bold-webfont.eot?") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-bold-webfont.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-bold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Hackman-extrabold";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-extrabold-webfont.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-extrabold-webfont.eot?") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-extrabold-webfont.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-extrabold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Hackman-medium";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-medium-webfont.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-medium-webfont.eot?") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-medium-webfont.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/hackman/hackman-medium-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Sanchez-black";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-black/Sanchez-Black.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-black/Sanchez-Black.eot?#iefix") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-black/Sanchez-Black.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-black/Sanchez-Black.ttf") format("truetype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-black/Sanchez-Black.svg#Sanchez-Black") format("svg");
}
@font-face {
  font-family: "Sanchez-bold";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-bold/Sanchez-Bold.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-bold/Sanchez-Bold.eot?#iefix") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-bold/Sanchez-Bold.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-bold/Sanchez-Bold.ttf") format("truetype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-bold/Sanchez-Bold.svg#Sanchez-Bold") format("svg");
}
@font-face {
  font-family: "Sanchez Italic";
  font-weight: normal;
  font-style: normal;
  src: url("/css/hdn/fonts/sanchez/sanchez-italic/Sanchez-Italic.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-italic/Sanchez-Italic.eot?#iefix") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-italic/Sanchez-Italic.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-italic/Sanchez-Italic.ttf") format("truetype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-italic/Sanchez-Italic.svg#Sanchez-Italic") format("svg");
}
@font-face {
  font-family: "Sanchez";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-regular/Sanchez-Regular.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-regular/Sanchez-Regular.eot?#iefix") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-regular/Sanchez-Regular.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-regular/Sanchez-Regular.ttf") format("truetype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-regular/Sanchez-Regular.svg#Sanchez-Regular") format("svg");
}
@font-face {
  font-family: "Sanchez Semibold";
  font-weight: normal;
  font-style: normal;
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-semibold/Sanchez-Semibold.eot");
  src: url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-semibold/Sanchez-Semibold.eot?#iefix") format("embedded-opentype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-semibold/Sanchez-Semibold.woff") format("woff"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-semibold/Sanchez-Semibold.ttf") format("truetype"), url("//www.sfchronicle.com/css/hdn/fonts/sanchez/sanchez-semibold/Sanchez-Semibold.svg#Sanchez-Semibold") format("svg");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  background-color: #fff;
  font-size: 21px;
  line-height: 1.58;
  color: #333;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iframe {
  border: none !important;
}
main {
  display: block;
}
.container {
  margin-top: 37px;
}
a {
  color: #6C85A5;
  text-decoration: none;
  outline: 0 !important;
}
a:hover {
  color: #546c8a;
}
a img {
  border: none;
}
a :hover {
  color: #546c8a;
}
hr {
  margin-top: 2em;
  border-top: 1px solid #ccc;
  border-bottom: none;
  width: 75%;
}
.max {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
}
.text-hed {
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  font-family: "Pierpont-bold", Georgia, serif;
}
.text-hed.padded {
  padding-top: 10px;
}
p {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;
}
p a {
  text-decoration: none;
  color: #6C85A5;
}
@media (max-width: 480px) {
  p {
    font-size: 0.8em;
  }
}
li {
  max-width: 650px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  li {
    margin: 0 5px;
  }
}
.hed {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Hackman-bold", Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .hed {
    padding: 0 10px;
  }
}
.chart-hed {
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}
@media (max-width: 480px) {
  .chart-hed {
    margin: 0 10px;
    font-size: 20px;
  }
}
.chatter {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
  font-family: "Hackman-medium", Helvetica Neue, Helvetica, sans-serif;
  margin: 20px auto;
}
.chatter.lesspadding {
  margin: 10px auto;
}
@media (max-width: 768px) {
  .chatter {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .chatter {
    padding: 5px;
  }
}
.outer {
  max-width: 900px;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .outer {
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .outer {
    margin: 10px;
  }
}
.source,
.credit {
  clear: left;
  padding-top: 10px;
  font-size: 12px;
  font-style: italic;
  font-family: "Hackman-medium", Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  .source,
  .credit {
    padding: 10px 20px;
  }
}
@media (max-width: 480px) {
  .source,
  .credit {
    padding: 10px;
  }
}
.source.padded,
.credit.padded {
  padding-bottom: 40px;
}
svg {
  display: block;
  margin: auto;
}
@media (max-width: 480px) {
  svg {
    margin: 0;
  }
}
text {
  font-size: 14px;
  font-family: "Hackman-bold", Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  text {
    font-size: 12px;
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.title-container {
  background-image: url();
}
.title-container.top-margin {
  margin-top: 3.5em;
}
.author {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}
.date {
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
}
.title {
  font-family: "Pierpont-bold", Georgia, serif;
  font-size: 60px;
  padding: 0 10px;
  text-align: center;
  margin: 10px auto 0;
  max-width: 835px;
}
.title.long {
  font-size: 50px;
  line-height: 1.2;
  margin: 20px auto 0;
  margin-top: 10px;
  margin-bottom: 25px;
}
.title.long.text-width {
  max-width: 800px;
}
@media (max-width: 480px) {
  .title.long {
    font-size: 1.8em;
  }
}
.over-img {
  position: absolute;
  bottom: 160px;
  z-index: 2;
  color: white;
  left: 0;
  right: 0;
}
.specialhead-top {
  color: #6C85A5;
  font-family: "Sanchez", serif;
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .specialhead-top {
    font-size: 13px;
    vertical-align: text-top;
  }
}
.specialhead {
  text-align: center;
  text-transform: uppercase;
  color: #9bb5d8;
  font-family: "Sanchez", serif;
  font-size: 15px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.61);
  max-width: 320px;
  padding: 2px 0px;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  height: 37px;
}
.link {
  padding: 5px 10px 0 7px;
  vertical-align: 3px;
  font-size: 18px;
  font-family: Georgia, serif;
  cursor: pointer;
}
.link.active {
  background: #a2a2a2;
  color: #696969;
}
.link.special a {
  color: #6C85A5;
}
.link.social {
  float: right;
  margin: 0 6px;
  padding: 4px 2px;
}
.link.social a {
  color: #6C85A5;
}
.link.email {
  margin-right: 10px;
}
.logo-link {
  cursor: pointer;
  margin: 0 0 0 10px;
  vertical-align: 0;
}
.logo-link img {
  opacity: 1;
  height: 20px;
}
.link,
.logo-link {
  display: inline-block;
}
@media (max-width: 490px) {
  .desk-logo {
    display: none;
  }
}
header {
  background: #fff;
  overflow: visible;
  opacity: 0.9;
  -webkit-box-shadow: 0 0 6px 0 #696969;
  -moz-box-shadow: 0 0 6px 0 #696969;
  box-shadow: 0 0 6px 0 #696969;
}
header a {
  text-decoration: none;
}
header .logo {
  float: left;
  padding: 6px 0 0 8px;
  margin: 0;
}
header .logo img {
  vertical-align: text-bottom;
  width: 180px;
}
@media (max-width: 490px) {
  header .logo {
    display: none;
  }
}
header .mobile-logo {
  display: none;
}
@media (max-width: 490px) {
  header .mobile-logo {
    display: inline;
  }
}
header .mobile-logo img {
  height: 16px;
  vertical-align: baseline;
}
header::after {
  clear: both;
  content: " ";
  display: block;
}
.caption {
  text-align: left;
  font-family: "Hackman-medium", Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  max-width: 100%;
}
.caption.landing {
  margin-bottom: 2.5em;
}
.byline {
  color: #6D6D6D;
  font-style: italic;
}
.background-img {
  height: 800px;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  z-index: 1;
}
@media (max-width: 480px) {
  .background-img {
    height: 640px;
  }
}
.full-width-img {
  margin: 2em auto;
  width: 100%;
}
.full-width-img img {
  width: 100%;
}
.inline-img {
  max-width: 730px;
  margin: 2em auto;
}
.inline-img .caption {
  padding: 0;
}
@media (max-width: 730px) {
  .inline-img .caption {
    padding: 0 10px;
  }
}
.inline-graphic {
  max-width: 640px;
  margin: 2em auto;
  padding: 0 10px;
}
.too-big {
  text-align: center;
}
.too-big img {
  max-width: 80%;
  margin: 0px auto;
}
@media (max-width: 480px) {
  .too-big img {
    max-width: 100%;
  }
}
.float-img-container {
  max-width: 735px;
  width: 100%;
  margin: 0 auto;
}
.float-img {
  max-width: 420px;
}
.float-img.vertical {
  max-width: 300px;
}
@media (max-width: 861px) {
  .float-img {
    float: none;
    margin: 2em auto;
  }
}
.float-img .caption {
  padding: 0;
}
@media (max-width: 730px) {
  .float-img {
    padding: 0 10px;
  }
}
.float-img.left {
  float: left;
  margin: 1em 1.5em 0.5em -7.5em;
}
@media (max-width: 1072px) {
  .float-img.left {
    float: none;
    margin: 2em auto;
  }
}
.float-img.right {
  float: right;
  margin: 1em -7.5em 0.5em 1.5em;
}
@media (max-width: 1072px) {
  .float-img.right {
    float: none;
    margin: 2em auto;
  }
}
.float-img.center {
  margin: 0 auto;
  max-width: 600px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dont-miss {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: "Hackman-bold", Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .dont-miss {
    margin-bottom: 40px;
  }
}
.dont-miss .story {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
@media (max-width: 480px) {
  .dont-miss .story {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
}
.dont-miss .padded {
  padding: 10px;
}
.dont-miss .small {
  font-size: 15px;
}
.dont-miss img {
  width: 100%;
}
footer {
  background: #222222;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;
  clear: both;
}
footer .logo {
  float: left;
  margin-right: 10px;
}
footer .logo img {
  padding: 10px 0;
  width: 180px;
  vertical-align: bottom;
}
footer::after {
  clear: both;
  content: " ";
  display: block;
}
.credits {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "Hackman-medium", Helvetica Neue, Helvetica, sans-serif;
  width: 80%;
}
@media (max-width: 480px) {
  .credits {
    width: 100%;
  }
}
.credits .entry {
  padding-bottom: 10px;
}
footer {
  background: #e5e6ea;
  opacity: 1;
  z-index: 0;
  width: 100%;
  font-family: "Hackman-bold", Helvetica Neue, Helvetica, sans-serif;
  border-top: 1px solid #CCC;
  color: #666;
  margin-top: 4em;
  padding: 10px 0;
}
@media (max-width: 480px) {
  footer {
    margin-top: 2em;
  }
}
footer .footer-content {
  padding: 37px 20px 12px;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 480px) {
  footer .footer-content {
    padding: 37px 10px 0;
  }
}
footer .logo {
  width: 100%;
  padding: 0;
  margin: 0 ;
  border-bottom: 1px solid #ccc;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #666;
}
footer .fa {
  font-size: 20px;
  color: #666;
}
footer .fa:hover {
  color: #666;
}
footer h3 {
  color: #666;
}
footer ul {
  padding: 0;
}
footer .top-list {
  width: 100%;
}
footer .hcsf_links {
  width: 100%;
  color: white;
  font-size: 10px;
}
footer .hcsf_links li {
  max-width: none;
  list-style-type: none;
  float: left;
  padding: 0 20px;
}
footer .hcsf_links li.top-list {
  padding: 0;
}
@media (max-width: 480px) {
  footer .hcsf_links li {
    padding: 5px 15px;
  }
}
.copyright-wrap {
  margin: 1.4em 0;
}
.copyright-wrap .hearst-logo {
  float: left;
  width: 110px;
}
.copyright-wrap .hearst-logo img {
  width: 100%;
}
.copyright-wrap .copyright {
  float: right;
  font-size: 10px;
  font-family: "Hackman-bold", Helvetica Neue, Helvetica, sans-serif;
  line-height: 1em;
  margin: 13px 0 0;
  padding: 0;
}
#topper {
  line-height: 0;
}
#title h1 {
  text-transform: uppercase;
  font-family: "Pierpont-bold", Georgia, serif;
  letter-spacing: 1px;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 10px;
}
#title p {
  padding: 0;
  font-style: normal;
  margin-bottom: 5px;
}
#title p.byline {
  font-size: 14px;
}
#title p.dateline {
  font-size: 14px;
}
header {
  height: 37px;
}
.navigation .link.social {
  margin-top: 4px;
}
.navigation .link.social svg {
  width: 20px;
}
.navigation .specialhead-top {
  font-size: 14px;
  color: #333;
}
#title,
#article,
#credits {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
}
#article {
  margin-top: 30px;
}
#article p {
  padding: 0;
}
#credits {
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  font-family: "Hackman-medium", Helvetica Neue, Helvetica, sans-serif;
}
#credits p {
  margin-bottom: 0;
}
#credits .credit-header {
  margin-top: 15px;
}
.img-wrapper {
  text-align: center;
  margin: auto;
}
.img-wrapper img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map*/